---
import Base from "@/layouts/Base.astro";
import PrayerBanner from "@/components/PrayerBanner.astro";
import PrayerCard from "@/components/PrayerCard.astro";
import JumuaCard from "@/components/JumuaCard.astro";
import MasjidNews from "@/components/MasjidNews.astro";
import DonateComponent from "@/components/DonateComponent.astro"

import getPrayerTimes from "../lib/utils/getPrayerTimes";

import type { PrayerTimeType } from "types";

// TODO: generate these times dynamically using an api
const times: PrayerTimeType[] = []
const PRAYER_NAMES = new Set<string>(["Fajr", "Sunrise", "Dhuhr", "Asr", "Maghrib", "Isha"]);

const { data } = await getPrayerTimes();
const timesArray = Object.keys(data.timings);

const filteredTimes = timesArray.filter((time) => PRAYER_NAMES.has(time));


function formatTime(timeString: string) {
  const [hourString, minute] = timeString.split(":");
  const hour = +hourString % 24;
  return (hour % 12 || 12) + ":" + minute + (hour < 12 ? " AM" : " PM");
}

filteredTimes.forEach((filteredTime, index) => {
	const currentTime = data.timings[filteredTime];
	
	const previousPrayerTime = data.timings[filteredTimes[index - 1] ?? filteredTimes[index + 5]];
	const nextPrayerTime = data.timings[filteredTimes[index + 1] ?? filteredTimes[index - 5]];
	
	times.push({
		prayerName: filteredTime,
		prayerTime: formatTime(data.timings[filteredTime]),
		currentPrayerTime: currentTime,
		previousPrayerTime: previousPrayerTime,
		nextPrayerTime: nextPrayerTime
	});
	
});
---

<Base>
	<main class="px-8 mx-auto">
		<div class="py-30">
  		<h2 class="text-2xl font-semibold mb-4">Monday Dec 25th (hijri)</h2>
			<div class="grid grid-cols-2 gap-4">
				<PrayerCard prayerTimes={times}/>
				<JumuaCard time="12:45" />
			</div>
		</div>
		<div class="py-36">
			<MasjidNews />
		</div>
		<div class="py-36">
			<DonateComponent />
		</div>
	</main>
</Base>
