---
import Icon from "./Icon.astro";
import Location from "./Icons/Location.astro";

---

<div class="flex flex-row w-fit items-center space-x-2 bg-[#256B84]/20 p-2 rounded-md">
  <Location />
  <p class="inline text-lg font-vold">Grand River Islamic Centre</p>
</div>
